/*! Урок-07 - приклад використання бібліотеки Handlebars в проєкті Vite */
body {
  background-color: aquamarine;
}

.box {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  /* background-color: #ffebe0; */
  outline: 2px solid brown;
}

.title {
  margin: 20px 0;
  text-align: center;
}