/*! Урок-05 - приклад використання бібліотек PNotify, Chart.js, BasicLightBox в проєкті Vite */
body {
  background-color: #fff0d9;
}

.box {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  /* background-color: #ffebe0; */
  /* outline: 1px solid brown; */
}

.box-title {
  margin: 20px 0;
  text-align: center;
}

.box-main-page-link {
  display: inline-block;
  padding: 4px 8px;
  font-weight: 700;
  border: 1px solid darkblue;
  border-radius: 4px;
}

.box-main-page-link:hover {
  color: darkred;
  border-color: darkred;
  background-color: #ff9d9d;
}

.box h2 {
  text-align: center;
  color: #603209;
}

.box-pnotify {
  width: fit-content;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  /* outline: auto; */
}

button {
  padding: 0.5em 1em;
  border: 2px solid #707070;
  border-radius: 8px;
  background-color: #bee0b8;
  transition: border-color 0.5s;
}

button:hover {
  border-color: #ff6464;
}

#btn-basic-light-box {
  display: block;
  margin: 0 auto 20px;
}
