/*! Урок-05 - приклад використання бібліотек в проєкті Vite */
.example {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background-color: rgb(255, 235, 224);
  /* outline: 2px solid brown; */
}

.box-pnotify {
  width: fit-content;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  /* outline: auto; */

}

button {
  padding: 0.5em 1em;
  border: 2px solid #707070;
  border-radius: 8px;
  background-color: #bee0b8;
  transition: border-color 0.5s;
}

button:hover {
  border-color: #ff6464;
}

#btn-basic-light-box {
  display: block;
  margin: 0 auto 20px;
}
